
$body-bg: #F0F0F0;
$pager-border-radius: 0;
$border-radius-base: 1px;
$border-radius-small: 1px;
$link-color: #3081B7;
$pagination-bg: #ECECEC;
$pagination-color: darken($pagination-bg, 40%);
$pagination-hover-color: darken($pagination-bg, 60%);
$pagination-active-bg: darken($pagination-bg, 30%);
$pagination-disabled-bg: $pagination-bg;
$pagination-active-border: darken($pagination-bg, 40%);
